{% extends "layouts/main.html" %}

{% block pageTitle %}
  What are your details? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      What are your details?
    </h1>

    <form action="/lpa-age" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="title">
          Title
        </label>
        <input class="govuk-input govuk-input--width-5"
          id="title"
          name="title"
          type="text"
          spellcheck="false"
          autocomplete="honorific-prefix">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Full name
        </label>
        <input class="govuk-input"
          id="full-name"
          name="fullName"
          type="text"
          spellcheck="false"
          autocomplete="name">
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}