{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Check your answers before creating {{ data['serviceDescription'] }} (LPA)
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Title" },
          value: { text: data['title'] },
          actions: {
            items: [
              {
                href: "/lpa-name",
                text: "Change",
                visuallyHiddenText: "title"
              }
            ]
          }
        },
        {
          key: { text: "Full name" },
          value: { text: data['fullName'] },
          actions: {
            items: [
              {
                href: "/lpa-name",
                text: "Change",
                visuallyHiddenText: "full name"
              }
            ]
          }
        },
        {
          key: { text: "Date of birth" },
          value: { text: data['date-birth-day'] + " / " + data['date-birth-month'] + " / " + data['date-birth-year'] },
          actions: {
            items: [
              {
                href: "/lpa-age",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: { text: "Email address" },
          value: { text: data['email'] },
          actions: {
            items: [
              {
                href: "/lpa-email",
                text: "Change",
                visuallyHiddenText: "email address"
              }
            ]
          }
        },
        {
          key: { text: "Address" },
          value: { text: data['select-an-address'] },
          actions: {
            items: [
              {
                href: "/lpa-postcode",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: { text: "Can the donor sign or make a mark?" },
          value: { text: "Yes" if data['lpamark'] === "yes" else "No" },
          actions: {
            items: [
              {
                href: "/lpa-sign",
                text: "Change",
                visuallyHiddenText: "if donor can sign"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">
      By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <form action="/lpa-confirmation-page" method="post">
      {{ govukButton({
        text: "Accept and send"
      }) }}
    </form>

  </div>
</div>
{% endblock %}