{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your date of birth? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/lpa-email" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-birth-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>

          <div id="date-birth-hint" class="govuk-hint">
            For example, 27 3 1956
          </div>

          <div class="govuk-date-input" id="date-birth">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="date-birth-day"
                  name="date-birth-day"
                  type="text"
                  inputmode="numeric"
                  value="{{ data['date-birth-day'] }}">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="date-birth-month"
                  name="date-birth-month"
                  type="text"
                  inputmode="numeric"
                  value="{{ data['date-birth-month'] }}">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                  id="date-birth-year"
                  name="date-birth-year"
                  type="text"
                  inputmode="numeric"
                  value="{{ data['date-birth-year'] }}">
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}