{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Your details</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Full name" },
          value: { text: data['fullName'] },
          actions: {
            items: [
              {
                href: "./lpa-name",
                text: "Change",
                visuallyHiddenText: "full name"
              }
            ]
          }
        },
        {
          key: { text: "Date of birth" },
          value: { text: data['date-birth-day'] + " / " + data['date-birth-month'] + " / " + data['date-birth-year'] },
          actions: {
            items: [
              {
                href: "./lpa-age",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: { text: "Email address" },
          value: { text: data['email'] },
          actions: {
            items: [
              {
                href: "./lpa-email",
                text: "Change",
                visuallyHiddenText: "email address"
              }
            ]
          }
        },
        {
          key: { text: "Address" },
          value: { text: data['select-an-address'] },
          actions: {
            items: [
              {
                href: "./lpa-postcode",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}