{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Make a lasting power of attorney",
    serviceUrl: "/",
    classes: "app-legacy-header"
  }) }}

  <div class="app-utility-nav">
    <div class="govuk-width-container app-utility-nav__container">
      
      <div class="app-utility-nav__right">
        <span class="app-utility-nav__user">{{ data['sampleUser'] }}</span>

        <a href="../your-details.html" class="app-utility-nav__link">Your details</a>
        <a href="../current-lpa.html" class="app-utility-nav__link">Your LPAs</a>
        <a href="#" class="app-utility-nav__link">Help</a>
        <a href="#" class="app-utility-nav__link">Sign out</a>
      </div>

    </div>
  </div>

{% endblock %}